body{
  height: 100%;
  padding-top:13px;
  position: fixed;
  background: #4786b3; /* Old browcellsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/                                                                     Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+                                                                                                                                  CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM0Nzg2YjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmU1NjczIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover,  #4786b3 0%, #2e5673 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#4786b3), color-stop(100%,#2e5673)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #4786b3 0%,#2e5673 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #4786b3 0%,#2e5673 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #4786b3 0%,#2e5673 100%); /* IE10+ */
  background: radial-gradient(center, ellipse cover,  #4786b3 0%,#2e5673 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4786b3', endColorstr='#2e5673',GradientType=1 ); /* IE6-8 fallback on  horizontal gradient */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
li, ul{
  list-style: none;
  margin: 0px !important;
}
input[disabled]{
  background-color: #fff !important;
}

#search{
  outline: medium none;
}
#search-box{
  margin-top: 13px;
  margin: 23px;
}

#left-panel,
#right-panel,
#center-panel{
  height: 95%;
  background-color: white;
  border: 1px solid #9cacbc;
  border-radius: 6px 6px 0px 0px;
  -o-border-radius: 6px 6px 0px 0px;
  -ms-border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  -webkit-border-radius: 6px 6px 0px 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.toolbar {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #cccccc;
  background-color: #f2f2f2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(100%, #f2f2f2));
  background-image: -moz-linear-gradient(90deg, #f2f2f2 0%, white);
  box-shadow: 0px 1px #e5e5e5;
  -moz-box-shadow: 0px 1px #e5e5e5;
  -webkit-box-shadow: 0px 1px #e5e5e5;
  height: 24px;
}
.rowcell{
  margin-left: 0px !important;
  border-bottom: solid 1px #cccccc;
  border-top: solid 1px white;
  border-spacing: 1px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  font-family: proxima-nova, 'Helvetica Neue', Arial, sans-serif;
  float: left;
  line-height: 31px;
  height: 29px;
  width: 95%;
}
#right-panel{
  overflow: hidden;
}

#right-panel textarea,
.rowcell input[type="text"],
input[type="text"]{
  box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  outline: 0 !important;
  border:none; 
  margin: 0px !important;
}
#right-panel input,
#right-panel textarea{
  width: 97%;
  outline: none;
}
.rowcell input[type="text"]{
  margin-left: 8px;
  margin-bottom: 0px;
  height: 29px;
  line-height: 29px;
  width: 87%;
  float:left;
  padding: 0 !important;
}
.number{
  width: 5%;
  height: 31px;
  background: #efefef;
  float: left;
  text-align: center;
  line-height: 31px;
  color: rgb(153, 153, 153);
  font-size: 11px;
}

.rowcell .name{
  float:left;
}

#left-panel header,
#right-panel header{
  border-radius: 6px 6px 0px 0px;
  -o-border-radius: 6px 6px 0px 0px;
  -ms-border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  -webkit-border-radius: 6px 6px 0px 0px;
}
#left-panel{
  overflow-y: auto;
}
#left-panel header span{
  color: #099;
  margin-left:13px;
  text-transform: uppercase;
  line-height: 26px;
}
#right-panel header{
  height: 36px;
}
header input[type="text"]{
  border:none;
  font-size: 27px;
  height: 30px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 4px;
  box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  outline: 0 !important;
  width: 94%;
  padding: 0 3% !important;
}

.blue-button{
  display: block;
  padding: 0 13px;
  height: 23px;
  margin-top: 2px;
  float:left;
  color: white !important;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  line-height: 23px;
  margin-left: 13px;
  text-align:center;
  border:none;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  background: #147CB9 !important;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#32A4EC), to(#147CB9)) !important;
  background: -webkit-linear-gradient(#32A4EC, #147CB9) !important;
  background: -moz-linear-gradient(center top, #32A4EC 0%, #147CB9 100%) !important;
  background: -moz-gradient(center top, #32A4EC 0%, #147CB9 100%) !important;
  background: -ms-linear-gradient(#32A4EC, #147CB9) !important;
  background: -o-linear-gradient(#32A4EC, #147CB9) !important;
  -webkit-background-clip: border-box !important;
  background-clip: border-box !important;
  zoom: 1;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  /*
  -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 0px #46464C !important;
  -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 0px #46464C !important;
  -ms-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 0px #46464C !important;
  -o-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 0px #46464C !important;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 0px #46464C !important;
  */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.divition{
  height: 1px;
  border-bottom: solid 1px #ccc;
  width: 100%;
}
#pacients{
    overflow-y: auto; 
}
#add-pacient{
   background-color:#0088cc;
}
#add-pacient a{
  color: #fff;
}
#add-pacient,
.list-bar{ 
 padding-left: 13px;
 border-top: solid 1px #ccc;
 height: 30px;
 line-height: 30px;
}
.input-prepend input[type="text"]{
  border: solid 1px #ccc !important;
}
